<h1><%#=@user[:name]%></h1>
<h2>テストページ</h2>
<h3>ユーザーが存在した場合はその情報を表示する</h3>
====以下ユーザーの情報====<br>
<h3>ユーザーID:<%=@user[:username]%></h3>

   所在地:<%=@user[:location]%>
   <br>
   コメント:<%=@user[:about]%>
   <br><br>
====ここまで====