<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>HelloWorld test.</p>
<%= link_to "Go to index.",:controller => 'users', :action => 'index' %>
<br>
<a href=http://google.com>google</a>
